.vs/
.vscode/

build/
Debug/
bin/
.DS_Store
node_modules/
ruff_config.h

/typings/
/ruff_modules/
/dist/
/coverage/
/modules/ruff_modules

CMakeFiles/

*.dir

*.vcxproj
*.vcxproj.*
*.sln
*.sdf

cmake_install.cmake

.idea
*.swp

cscope.*
npm-debug.log